<div class="content">
  <h1 class="content__title">Users</h1>
  <div class="row justify-content-center">
    <table class="table table-hover table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">External id</th>
          <th scope="col">Full name</th>
          <th scope="col">Show chat history</th>
        </tr>
      </thead>
      <tbody>
        <tr class="container" *ngFor="let user of users; let i= index">
          <th scope="row"> {{ i+1 }}</th>
          <td>{{ user.externalId }}</td>
          <td>{{ user.firstName + ' ' + user.lastName }}</td>
          <td>
            <button type="button" class="btn btn-none" style="color: #fff; 
            font-weight: bolder; 
            background-color: #4b3f3f;" (click)="navigateToChatHistory(user.externalId)">
              {{ user.firstName + '’s'}} chat history
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-3 mb-1">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Count items: <b>{{ count }}</b>
            </button>
            <div class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" type="button" (click)="setCount(5)">5</button>
              <button class="dropdown-item" type="button" (click)="setCount(10)">10</button>
              <button class="dropdown-item" type="button" (click)="setCount(15)">15</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-1">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu2"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Page number: <b>{{ page }}</b>
            </button>
            <div class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="setPage(0)">0</button>
              <button class="dropdown-item" type="button" (click)="setPage(1)">1</button>
              <button class="dropdown-item" type="button" (click)="setPage(2)">2</button>
              <button class="dropdown-item" type="button" (click)="setPage(3)">3</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-1">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu3"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by: <b>{{ getSortByText(sortBy) }}</b>
            </button>
            <div class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenu3">
              <button class="dropdown-item" type="button" (click)="setSortBy('externalId')">External id</button>
              <button class="dropdown-item" type="button" (click)="setSortBy('firstName')">First name</button>
              <button class="dropdown-item" type="button" (click)="setSortBy('lastName')">Last name</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-1">
          <div class="dropright">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu4"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort order: <b>{{ getSortOrderText(sortOrder) }}</b>
            </button>
            <div class="dropdown-menu dropdown-menu-up" aria-labelledby="dropdownMenu4">
              <button class="dropdown-item" type="button" (click)="setSortOrder(':ASC')">Ascending order</button>
              <button class="dropdown-item" type="button" (click)="setSortOrder(':DESC')">Descending order</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 offset-md-9">
          <div class="dropdown">
            <button type="submit" class="btn btn-dark w-100">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>