<div class="main">
  <h1 class="main__title">Frontend UI</h1>
  <div class="main__container">
    <div class="main__message dragable-box" cdkDrag>
      The Angular-based frontend integrates admin registration, management, content viewing, sorting, pagination and Telegram
      bot interaction. Secure server communication is ensured through JWT (JSON Web Token) authentication. Styled with SCSS and
      Bootstrap, the user-friendly design is responsive. The application optimally manages HTTP requests, promoting
      scalability for future enhancements.
    </div>
  </div>
</div>